#!/usr/bin/make -f
# -*- makefile -*-

export BUILDDIR := build

export DEB_CXXFLAGS_MAINT_APPEND := $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_CFLAGS_MAINT_APPEND := $(shell dpkg-buildflags --get CPPFLAGS)
export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

override_dh_auto_configure:
	rm -rf $(BUILDDIR) && mkdir -p $(BUILDDIR)
	cd $(BUILDDIR) && cmake ..

override_dh_auto_test:
	#HOME="`pwd`/$(BUILDDIR)" dh_auto_test --buildsystem=cmake -- ARGS="-E CTestTestUpload"
	echo $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(BUILDDIR)

override_dh_install:
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/libpam-mysql
	install -m 640 debian/pam-mysql.conf debian/libpam-mysql/etc
	dh_install --list-missing

%:
	dh $@ --parallel --builddirectory=$(BUILDDIR)

.PHONY: override_dh_auto_configure override_dh_auto_clean
